@import '../styles/index.scss';

.header-anchor {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  // right: 0;
  top: 0.1em;
  bottom: 0;
  font-size: 1em;
  left: -1.1em;
  width: 1.1em;
  height: 1.1em;
  // float: left;
  // margin-left: -0.87em;
  // padding-right: 0.23em;
  // margin-top: 0;
  text-decoration: none;
  opacity: 0;
  background-color: $color-input-background;
  border-radius: 1em;
  transition: $transition-base;
}

.header-anchor:hover {
  text-decoration: none;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor {
  opacity: 1;
}

h1,
h2,
h3 {
  position: relative;
}