:root {
  --color-white: #fff;
  // gray
  --color-gray-9: #eceff1;
  --color-gray-8: #cfd8dc;
  --color-gray-7: #b0bec5;
  --color-gray-6: #90a4ae;
  --color-gray-5: #78909c;
  --color-gray-4: #607d8b;
  --color-gray-3: #546e7a;
  --color-gray-2: #455a64;
  --color-gray-1: #37474f;
  --color-gray-0: #263238;

  // hot-gray
  --color-hot-gray-8: #e0e0e0;

  // yellow
  --color-yellow-9: #fff3e0;
  --color-yellow-8: #ffe0b2;
  --color-yellow-7: #ffcc80;
  --color-yellow-6: #ffb74d;
  --color-yellow-5: #ffa726;
  --color-yellow-4: #ff9800;
  --color-yellow-3: #fb8c00;
  --color-yellow-2: #f57c00;
  --color-yellow-1: #ef6c00;
  --color-yellow-0: #e65100;

  // green
  --color-green-9: #f1f8e9;
  --color-green-8: #dcedc8;
  --color-green-7: #c5e1a5;
  --color-green-6: #aed581;
  --color-green-5: #9ccc65;
  --color-green-4: #8bc34a;
  --color-green-3: #7cb342;
  --color-green-2: #689f38;
  --color-green-1: #558b2f;
  --color-green-0: #33691e;

  // teal
  --color-teal-9: #e0f2f1;
  --color-teal-8: #b2dfdb;
  --color-teal-7: #80cbc4;
  --color-teal-6: #4db6ac;
  --color-teal-5: #26a69a;
  --color-teal-4: #009688;
  --color-teal-3: #00897b;
  --color-teal-2: #00796b;
  --color-teal-1: #00695c;
  --color-teal-0: #004d40;

  // hot-teal
  --color-hot-teal-9: #e8f5e9;
  --color-hot-teal-8: #c8e6c9;
  --color-hot-teal-7: #a5d6a7;
  --color-hot-teal-6: #81c784;
  --color-hot-teal-5: #66bb6a;
  --color-hot-teal-4: #4caf50;
  --color-hot-teal-3: #43a047;
  --color-hot-teal-2: #388e3c;
  --color-hot-teal-1: #2e7d32;
  --color-hot-teal-0: #1b5e20;

  // red
  --color-red-9: #ffebee;
  --color-red-8: #ffcdd2;
  --color-red-7: #ef9a9a;
  --color-red-6: #e57373;
  --color-red-5: #ef5350;
  --color-red-4: #f44336;
  --color-red-3: #e53935;
  --color-red-2: #d32f2f;
  --color-red-1: #c62828;
  --color-red-0: #b71c1c;
}
