$bg-error-input: $color-red-9;
$border-error-input: $color-red-7;
$border-input-1: 1px;
$border-input: $color-input-background;

$input-border-color: $border-color-base;
$input-border: $border-input-1 solid $border-input;
$input-border-radius: $border-radius-base;

