// -------------------------------------------------
// + Base
// -------------------------------------------------

$spacing-1: 1px;
$spacing-2: 2px;
$spacing-3: 4px;
$spacing-4: 8px;
$spacing-5: 12px;
$spacing-6: 16px;
$spacing-7: 20px;
$spacing-8: 24px;
$spacing-9: 28px;
$spacing-10: 32px;
$spacing-11: 36px;
$spacing-12: 40px;
$spacing-13: 44px;
$spacing-14: 48px;
$spacing-15: 52px;
$spacing-16: 56px;
$spacing-17: 60px;
$spacing-18: 64px;

// -------------------------------------------------
// + Typography
// -------------------------------------------------

$text-margin: 0 0 1rem;

// -------------------------------------------------
// + Input
// -------------------------------------------------

$input-height: 50px;
$input-height-sm: $spacing-11;
$input-padding: $spacing-7;
$input-gutter: $spacing-8;

// -------------------------------------------------
// + Page
// -------------------------------------------------

$gutter-page: $spacing-6;
$gutter-page-lg: $input-gutter;

// -------------------------------------------------
// + Width
// -------------------------------------------------

$width-mobile-l: 480px;

// -------------------------------------------------
// + Nav
// -------------------------------------------------

$page-navigation-height: $input-height;

// -------------------------------------------------
// + Table
// -------------------------------------------------

$table-cell-y-padding: ($spacing-5 - $spacing-1);
$table-cell-x-padding: $input-padding;
